@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-2">
        <partial name="_Sidenav" />
    </div>

    <div class="col-10 mt-4">
        <span class="index-message">Page d'accueil Admin <i class="bi bi-emoji-laughing"></i></span>

    </div>


</div>