@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model EmailModel
@if (TempData.ContainsKey("resetPasswordMsg"))
{
    <p class="text-center info-msg mt-3">@TempData["resetPasswordMsg"] <i class="bi bi-check-circle"></i></p>
}
<div class="forgotP-container-form d-flex justify-content-center align-items-center mt-5">

    <div class="forgotP-form d-flex align-items-center justify-content-center flex-column mx-2">

        <form method="post" class="login-input-form mx-5" asp-area="Account" asp-controller="Connection" asp-action="ResetPasswordForm" asp-route-culture="@Context.Request.Query["culture"]">
            <div class="input-email">
                <label class="mb-2 fw-bold">@ViewData["forgotPassword.title"]</label>
                <input class="form-control" placeholder="E-mail" asp-for="Email" required/>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger error-msg-login"></div>
            <div class="mt-4">
                <button type="submit" class="login-btn text-white border-0">@ViewData["forgotPassword.sendBtn"]</button>
            </div>
        </form>
    </div>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.success-msg').fadeOut(8000);
        });
    </script>
}         